* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

main {
    width: 90%;
    max-width: 800px;
    margin: 82px auto 32px auto;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    flex-direction: row;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    align-items: center;
}

.col {
    flex: auto;
    text-align: center;
}

.kanvas {
    position: relative;
    margin: auto;
    height: 80vh;
    width: 80vw;
}

img {
    max-width: 100%;
}

header,
footer {
    display: none;
}

club-list {
    display: block;
    margin-top: 32px;
    width: 100%;
    padding: 16px;
}