/* import css file datepicker */
@import "/node_modules/js-datepicker/dist/datepicker.min.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

main {
  width: 90%;
  /* max-width: 800px; */
  margin: 82px auto 32px auto;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  flex-direction: row;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  justify-content: center;

  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  align-items: center;
}

.clear {
  clear: both;
}

.source {
  width: 100%;
  z-index: 99;
}

/* 
.col {
  flex: auto;
  text-align: center;
  width: 100%;
  height: auto;
} */

.kanvas {
  display: grid;
  flex-direction: column;
  /* grid-template-columns: repeat(1, 1fr); */
  /* padding-bottom: 1em; */
}

.chart {
  /* position: relative; */

  height: 40vh;
  width: 80vw;
}

.text-kard-1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

#kard-1 {
  background-color: lightgrey;
}

#kard-1:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
}

.header,
.footer {
  display: none;
}

@keyframes ldio-fkge51vk2zl {
  0% {
    top: 206.38px;
    left: 206.38px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: -12.14px;
    left: -12.14px;
    width: 437.04px;
    height: 437.04px;
    opacity: 0;
  }
}

.ldio-fkge51vk2zl div {
  position: absolute;
  border-width: 97.12px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-fkge51vk2zl 1.1904761904761905s cubic-bezier(0, 0.2, 0.8, 1)
    infinite;
}

.ldio-fkge51vk2zl div:nth-child(1) {
  border-color: #fa64a3;
}

.ldio-fkge51vk2zl div:nth-child(2) {
  border-color: #e60649;
  animation-delay: -0.5952380952380952s;
}

.loadingio-spinner-ripple-cbmjkgq6beb {
  width: 607px;
  height: 607px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.ldio-fkge51vk2zl {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}

.ldio-fkge51vk2zl div {
  box-sizing: content-box;
}

/* Float four columns side by side */
.kolom {
  /* float: left; */
  width: 100%;
  padding: 0 10px;
  display: flex;
  align-content: center;
  align-items: center;
}

/* Remove extra left and right margins, due to padding */
.baris {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.baris:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .kolom {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.cartu {
  box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  width: 95%;
  color: #f1f1f1;
  font-weight: bold;
  height: 9em;
  margin: auto;
}
